# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
*.log
logs
*.out
*.err

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files
*.pem
*.key
*.crt
*.csr
.env

# MacOS
.DS_Store
